border {
    background-color: #1F2937;
}

header_logo_text {
    color: #F9FAF8;
    font-size: 24px;
}

header_text {
    color: #E5E7EB;
    font-size: 18px;
}

hero_main_text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

signup {
    background-color: #3882F6;
}

information_header_text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

quote_section {
    background-color: #E5E7EB;
}

thor_quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}